@import-normalize;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b2dbd5;
  color: #2b616d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(44, 37, 150);

}

a:hover {
  color: rgb(148, 156, 32);
}

h1,
h2 {
  font-size: large;
}



p {
  font-size: small;
}

button {
  cursor: pointer;
  background-color: #b2dbd5;
  color: #2b616d;
  font-size: 1em;
  padding: 0.25em 1em;
  border: 2px solid #bf4f74;
  border-radius: 2px;

}